<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDogbvIBWzm1HAQV8hESJJMApligE7z8lE</string>
	<key>GCM_SENDER_ID</key>
	<string>74419596099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>itmo.masters.wingly</string>
	<key>PROJECT_ID</key>
	<string>wingly-71c70</string>
	<key>STORAGE_BUCKET</key>
	<string>wingly-71c70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74419596099:ios:8a5591940e68a52f08ddf6</string>
</dict>
</plist>